.skills {
  width: 100%;
  padding-top: var(--space3XL);
  padding-bottom: var(--space3XL);
  display: flex;
  justify-content: center;

  @media (--mediaTablet) {
    padding-top: var(--space2XL);
    padding-bottom: var(--space2XL);
  }
}

.inner {
  width: 100%;
  max-width: var(--maxWidthL);
}

.tag {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: var(--space4XL) 1fr;
  gap: 12px;
  align-items: center;
}

.tagText {
  font-size: var(--fontSizeBodyS);
  font-weight: var(--fontWeightMedium);
  color: rgb(var(--rgbPrimary));
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationM);
  transition-delay: 1.3s;

  @media (--mediaUseMotion) {
    transition-property: opacity, transform;
    transform: translate3d(calc(var(--spaceM) * -1), 0, 0);
  }

  &[data-visible='true'] {
    transform: none;
    opacity: 1;
  }
}

.title {
  margin-bottom: var(--space2XL);
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--durationM);

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translate3d(0, var(--spaceM), 0);
  }

  &[data-visible='true'] {
    transform: none;
    opacity: 1;
  }
}

.block {
  margin-bottom: var(--space2XL);
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: var(--bezierFastoutSlowin);
  transition-duration: var(--durationXL);
  transition-delay: var(--durationL);

  @media (--mediaUseMotion) {
    transition-property: transform, opacity;
    transform: translate3d(0, var(--spaceL), 0);
  }

  &[data-visible='true'] {
    transform: none;
    opacity: 1;
  }
}

.blockHeading {
  margin-bottom: var(--spaceL);
}
