.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 40px 0;

  @media (--mediaTablet) {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

.stat {
  text-align: center;
}

.statNumber {
  font-size: var(--fontSizeH3);
  font-weight: var(--fontWeightBold);
  color: rgb(var(--rgbAccent));
  display: block;
  margin-bottom: 8px;
}
